{% extends "base.html" %}
{% block body %}
<br>
<div class="container">
<h2>Science & Technology News</h2><br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for x in sci_tech_api.articles %}
  <div class="col">
    <div class="card h-100">
      <img src="{{x.urlToImage}}" class="card-img-top" alt="{{x.source.name}}">
      <div class="card-body flex-fill">
        <h5 class="card-title">{{x.title}}</h5>
        <p class="card-text">{{x.description}}</p>
      </div>
      <div class="card-footer">
        <a href="{{x.url}}" target="_blank" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}